body {
  background-color: orange;
  font-family: arial, helvetica, sans serif;
  line-height: 10px;
}

.header {
  background-color: rgb(1, 11, 68);
  text-align: right;
  height: 86px;
  position: absolute;
  color: white;
  padding-top: 0px;
  top: 0;
  left: 0;
  width: 100%;
}

.h1 {
  font-size: 42px;
  font-family: inherit;
  font-weight: 800;
}

.h2 {
  font-size: 28px;
  font-style: italic;
}
